<p id="notice"><%= notice %></p>

<h1>Exports</h1>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exports.each do |export| %>
      <tr>
        <td><%= export.model %></td>
        <td><%= export.name %></td>
        <% if export.file_csv.attached? %>
          <td><%= export.file_csv.filename %></td>
        <% else %>
          <td>No file attached</td>
        <% end %>
        <td><%= link_to 'Show', export %></td>
        <td><%= link_to 'Edit', edit_export_path(export) %></td>
        <td><%= link_to 'Destroy', export, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Export', new_export_path %>
<p>
  <%= link_to "Create file", create_file_path, method: :post %>
</p>
