<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @export.model %>
</p>

<p>
  <strong>Name:</strong>
  <%= @export.name %>
</p>

<p>
  <strong>File:</strong>
  <%= @export.file_csv.filename %>
</p>

<%= link_to 'Edit', edit_export_path(@export) %> |
<%= link_to 'Back', exports_path %>


<p>
  <% @headers.each do |head| %>
    <%= head %>
  <% end %>
</p>

<% @csv_content.each do | row | %>
  <p>
    <%= row %>
  </p>
<% end %>





